body{
    background-color: whitesmoke;
}

.name{
    color: black;
    text-align: center;
}
.jobtitle{
    color: black;
    text-align: center;
}
.contact-info{
    color: black;
    text-align: center;
}



/*------- Images ---------*/

.linkedin-icon {
    width: 20px; /* Set the width to match icon size */
    height: 18px; /* Set the height to match icon size */
}